.anim1 {
  position: relative;
  padding: 9px 18px;
  transition: all .2s ease;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: linear-gradient(to right, #FFAB9D, #ff644b);
    width: 42px;
    height: 42px;
    transition: all .3s ease;
  }

  span {
    position: relative;
  }

  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 1;
    transform: translateX(-4px);
    transition: all .3s ease;
  }

  &:hover, &:active {
    &:before {
      width: 100%;
      background: linear-gradient(to right, #FFAB9D, #ff644b);
    }
  
    svg {
      transform: translateX(0);
      }
  }
    
  &:active {
    transform: scale(.96);
  }
}

a {
  color: black;
  text-decoration: none;

  .anim2 {
    position: relative;
    padding: 9px 18px;
    transition: all .2s ease;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-radius: 28px;
      background: linear-gradient(to right, #F9D976, #F39F86);
      width: 42px;
      height: 42px;
      transition: all .3s ease;
    }

    span {
      position: relative;
    }

    svg {
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: black;
      stroke-width: 1;
      transform: translateX(-4px);
      transition: all .3s ease;
    }

    &:hover, &:active, &:focus {
      &:before {
        width: 100%;
        background: linear-gradient(to right, #F9D976, #F39F86);
      }
    
      svg {
        transform: translateX(0);
        }
    }
      
    &:active {
      transform: scale(.96);
    }
  }
}

.highlightPrice {
  animation-name: example;
  animation-duration: 5s;
  animation-delay: .5s;
}

@keyframes example {
  0% {transform: scale(1)}
  50% {color: #a8123a; transform: scale(1.1)}
  100% {transform: scale(1)}
}